@font-face {
  font-family: "Circe";
  src:
    url("./assets/fonts/Circe-Regular.woff") format("woff"),
    url("./assets/fonts/Circe-Regular.ttf") format("ttf"),
    url("./assets/fonts/Circe-Regular.eot") format("eot");
}

body,
a {
  font-family: "Circe", serif;
  font-style: normal;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1,
p {
  margin: 0;
}

.link {
  color: #55aca6;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

#root {
  max-width: 1300px;
  margin: 0 auto;
}
